<h3><a href="<%= @article.url %>" target="_blank"><%= @article.title %></a></h3>

<h2>Click the link Above, <br>or <br>Copy & Paste the web address below into your browser's address bar.</h2>

<h3><%= @article.url %></h3>

<br>

To change the Title of this article, or its Web Address, click
<a href=<%="/articles/#{@article.slug}/edit"%>>here</a>.
<br><br>

Click the button below if you want to delete this article. <br>
(CAREFUL, you can't undo this action!) <br>
<form action="/articles/<%= @article.slug %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Article">
</form>
