<h1>These are <%= @user.username %>'s Topic Folders</h1>
<h4>Add a <a href="/articles/new">New Article</a> to one of Your folders.</h4>
<br><br>

(Click one of Topic Links to Edit/Delete any Articles in that Topic) <br>

<% @topics.each do |topic| %>
  <ul><h3><a href=<%="/topics/#{topic.slug}"%>><%= topic.name %></a></h3>
  <% topic.articles.each do |article| %>
    <li><a href=<%="#{article.url}"%>><%= article.title %></a></li>
  <% end %> </ul><br><br>
<% end %>


<br><br><br><br>
<a href="/logout">Logout</a>
