<h1>Welcome, <%= @user.username %></h1>
<h4>Add a <a href="/articles/new">New Article</a> to one of Your folders.</h4>



<h2>Below are Lists of All the Users' Topic Folders</h2>
<% @users.each do |user| %>
  <h3><a href=<%="/users/#{user.slug}"%>><%= user.username %></a></h3>
  <ul><% user.topics.each do |topic| %>
    <li><a href=<%="/topics/#{topic.slug}"%>><%= topic.name %></a></li>
  <% end %> </ul>
<% end %>


<br><br><br><br>
<a href="/logout">Logout</a>
